h1 {
    font-size: 500%;
    text-align: center;
    
    
}
nav { 
    text-align: center;
    background-color:#E0770C;
    padding: 1rem;
}
nav > a { 
    color: yellow;
    font-size: 150%;
    padding: 2rem;
    
}
 nav >a:hover {
    color: #00F000;
 }
 #header { 
    background-color: rgb(255, 200, 127);
    
 }
     


#dog-grooming { 
    font-size: 250%;
    text-align: center;
}

body { 
    color: #E0770C;
    background-color: #E2F0E4;
}
.scamps {
    color: #F52323
}

.about-us-box {
    padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 100%;
	margin: 2%;;
    position: relative;
    top: 30px;
}
.about-us {
    width: 50% ;
}
.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}
.bold {
    font-style: bold;
}
.paw-print-one {
    display:flex;
    max-width: 25%;
    padding: 0 0 0 150rem;
    

    
}
