h1 {
    font-size: 500%;
    text-align: left;
    
    
}
nav { 
    text-align: center;
    background-color:#E0770C;
    padding: 1rem;
}
nav > a { 
    color: yellow;
    font-size: 150%;
    padding: 2rem;
    
}
 nav >a:hover {
    color: #000000;
 }

header > p { 
    font-size: 250%;
    text-align: left;
}

body { 
    color: #E0770C;
    background-color: #E2F0E4;
}
.scamps {
    color: #F52323
}
header {
    
        background-image: url ('https://images.pexels.com/photos/12951462/pexels-photo-12951462.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
.about-us-box {
    padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 100%;
	margin: 2%;;
    position: relative;
    left: 20%;
    top: 30px;
}
.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}
